body {
    background-color: hsl(200, 11%, 42%);
}

h1 {
    text-align: center;
    color: white;
    font-size: 55px;
}

p {
    text-align: center;
}

a {
    text-align: center;
    color: white;
}

img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}